*{
    margin: 10;
    padding:0 ;
    box-sizing: border-box;
}
.card{
    background-color: #ffffff;
    width: 250px;
    padding: 10px;
    box-shadow: 10px 10px 30px #ccc ;
}
.card img{
    width: 100%;
}
.card .top-price{
    background-color:#6E2594 ;
    color: #ffffff;
    padding: 5px;
    display: inline-block;
    border-top-right-radius:15px ;
    border-bottom-right-radius:15px ;
}
.del{
text-decoration:line-through ;
}